.wrapper {
  position: relative;
  // top: 124px;
  margin: 0 15px 0 10px;

  // width: 100%;
  // height: 100%;
}

@media screen and (max-width: 975px) {
  .wrapper {
    margin: 0 15px;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    margin: 0;
  }
}
